.avatar {
    height: 200px; /* Adjust height as needed */
    width: 200px; /* Adjust width as needed */
    border-radius: 50%;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    margin-bottom: 16px;
}

.avatar img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image is not stretched */
}

 .link-button {
     border: 1px solid;
     border-radius: 5px;
     padding: 1% 5% 1% 5%;
     background-color: #3f51b5;
     color: white;
 }

 a {
     text-decoration: none;
 }

 p {
     margin: 0 0 24px;
 }

 .mat-mdc-card {
     position: relative;
     padding-bottom: 16px;
 }

 .mat-mdc-card[_ngcontent-ng-c4139710531] {
     position: relative;
     padding-bottom: 16px;
     display: flex;
     flex-direction: row;
 }
 .mat-mdc-card-content:last-child {
     padding-bottom: 16px;
     display: flex;
     flex-direction: column;
     justify-content: end;
 }
 .mat-mdc-card-header {
     display: flex;
     padding: 16px 16px 0;
     /* display: flex; */
     flex-direction: column-reverse;
 }

 /* Center padding for the second child */
  .mat-mdc-card[_ngcontent-ng-c4139710531]> :nth-child(2) {
     padding: 0 14%;
     /* Adjust as needed */
     /* This will center the padding horizontally */
 }