<!-- <h1>
    Welcom to right click education
</h1>

<button mat-button color="accent">Right Click</button>
<button mat-raised-button color="primary">Right Click</button> -->


<div style="text-align:center;min-height: 600px;">
    <!-- <h1>Hello 👐</h1> -->
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>
</div>
<!-- </mat-drawer-content>
</mat-drawer-container>
<mat-sidenav-container>
    <mat-sidenav #sidenav  >
        <mat-list-item>
            <a mat-list-item>Home</a>
            <a mat-list-item>Account</a>
            <a mat-list-item>About Us</a>
            <a mat-list-item>Help</a>

        </mat-list-item>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;"></div>
    </mat-sidenav-content>
</mat-sidenav-container> -->