<!-- <h1>
    Welcom to right click education
</h1>

<button mat-button color="accent">Right Click</button>
<button mat-raised-button color="primary">Right Click</button> -->

<mat-toolbar color="primary"  class="fixed-toolbar">
    <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Navbar</h1>
    </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container autosize class="drawer-container">
    <mat-drawer #drawer opened="true" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/add_customer"><mat-icon>add</mat-icon>Add Customer</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/moviesLists"><mat-icon>account_circle</mat-icon>Users</button>
            </mat-list-item>
            <!-- <mat-list-item>
                <button mat-button routerLink="/details"><mat-icon>portrait</mat-icon>Movie Details</button>
            </mat-list-item> -->
            <mat-list-item>
                <button mat-button routerLink="/analytics"><mat-icon>analytics</mat-icon>Aanalytics</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content  class="scrollable-content">
        <div style="text-align:center;min-height: 600px;">
            <h1>Hello 👐</h1>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<!-- </mat-drawer-content>
</mat-drawer-container>
<mat-sidenav-container>
    <mat-sidenav #sidenav  >
        <mat-list-item>
            <a mat-list-item>Home</a>
            <a mat-list-item>Account</a>
            <a mat-list-item>About Us</a>
            <a mat-list-item>Help</a>

        </mat-list-item>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;"></div>
    </mat-sidenav-content>
</mat-sidenav-container> -->