<div class="login-container">
    <div class="ripple-background"></div> <!-- New element for ripple effect -->
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="login()" class="login-form">
                <mat-form-field appearance="fill" class="input-field">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Enter your username" [(ngModel)]="username"
                        name="username">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-field">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                        [(ngModel)]="password" name="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="login-button">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
