<mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile>
        <mat-card class="square-tile">
            <button mat-button routerLink="/add_customer">
                <mat-icon>add</mat-icon> Add Customer
            </button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="square-tile">
            <button mat-button routerLink="/moviesLists">
                <mat-icon>account_circle</mat-icon> Users
            </button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="square-tile">
            <button mat-button routerLink="/analytics">
                <mat-icon>analytics</mat-icon> Analytics
            </button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>